mixin catalogSubnavItem(link,text,count)
	li.catalog-subnav__item
		a(href="").catalog-subnav__link
			span.catalog-subnav__text=text
			span.count-text=count

.catalog-subnav
	.catalog-subnav__inner
		.catalog-subnav__col
			.catalog-subnav__block
				.catalog-subnav__header
					span.catalog-subnav__title Прямоугольный водосток
					span.count-text 9
				ul.catalog-subnav__list
					+catalogSubnavItem('','Прямоугольные оцинкованные трубы водостока','23')
					+catalogSubnavItem('','Соеденители прямоугольных желобов водостока','20')
					+catalogSubnavItem('','Воронка водостока прямоугольная оцинкованная','12')
					+catalogSubnavItem('','Заглушки прямоугольного водостока оцинкованные','30')
					+catalogSubnavItem('','Крепления прямоугольного водостока','4')
			.catalog-subnav__block
				.catalog-subnav__header
					span.catalog-subnav__title Прямоугольный водосток
					span.count-text 9
				ul.catalog-subnav__list
					+catalogSubnavItem('','Прямоугольные оцинкованные трубы водостока','23')
		.catalog-subnav__col
			.catalog-subnav__block
				.catalog-subnav__header
					span.catalog-subnav__title Прямоугольный водосток
					span.count-text 9
				ul.catalog-subnav__list
					+catalogSubnavItem('','Прямоугольные оцинкованные трубы водостока','23')
					+catalogSubnavItem('','Соеденители прямоугольных желобов водостока','20')
					+catalogSubnavItem('','Воронка водостока прямоугольная оцинкованная','12')