section(style="background-image: url('i/content/main-banner1	.jpg')").s-banner
	.container
		.banner
			h1.title-page Продажа строительных материалов от производителя
			p.banner__text VIDARON - это компания, которая давно зарекомендовала себя на рынке строительных материалов. Более чем 5 лет работы с безупречной репутацией и положительными отзывами от клиентов.